*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #4568dc 0%, #b06ab3 100%), #ef8e48;
  font-family: 'Roboto', sans-serif;
}

.app-main {
  margin: 0 auto;
  max-width: 302px;
  padding-top: 17px;
}

.icon-magic {
  display: block;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 0;
  background: url(/ico/magic-wand.svg) no-repeat center;
  background-size: contain;
}

.btn {
  padding: 13px 23px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  border-radius: 40px;
  font-size: 14px;
  line-height: 16px;
}
.btn:disabled {
  opacity: 0.16;
}

.block {
  padding: 14px 11px;
  background-color: #fff;
  border-radius: 3px;
}
.block__header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.block__title {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
}

.loading {
  z-index: 0;
  position: relative;
  height: 300px;
}
.loading::before {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 68px;
  border: 2px solid;
  border-color: #ffd205 transparent transparent transparent;
  border-radius: 100%;
  animation: linear 1s loading infinite;
  content: '';
}
@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(380deg);
  }
}
