*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #4568dc 0%, #b06ab3 100%), #ef8e48;
  font-family: 'Roboto', sans-serif;
}

.app-main {
  margin: 0 auto;
  max-width: 296px;
  padding-top: 17px;
}

.block {
  padding: 14px 11px;
  background-color: #fff;
  border-radius: 3px;
}
