*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #4568dc 0%, #b06ab3 100%), #ef8e48;
  font-family: 'Roboto', sans-serif;
}

.app-main {
  margin: 0 auto;
  max-width: 296px;
  padding-top: 17px;
}

.icon-magic {
  display: block;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 0;
  background: url(/ico/magic-wand.svg) no-repeat center;
  background-size: contain;
}

.block {
  padding: 14px 11px;
  background-color: #fff;
  border-radius: 3px;
}
.block__header {
  display: flex;
  justify-content: space-between;
}
.block__title {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
}
